{% load static %}
<!DOCTYPE html>

<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Register/Login</title>
  
    <link rel="shortcut icon" href="{% static 'acusite/img/HomeImg/A.png'%}" type="image/x-icon">


      <link rel="stylesheet" href="{% static 'acusite/css/RegisterCss/style.css' %}">
      <link rel="stylesheet" href="{% static 'acusite/css/HomeCsss/nav.css'%}">
</head>

<body>
   <a href="{%url 'home'%}"> <img class="mainlogo" src="{% static 'acusite/img/HomeImg/A.png' %}" height="50" width="50" onclick="reload()">
   </a>
<div class="open-overlay">
        <span class="bar-top"></span>
        <span class="bar-middle"></span>
        <span class="bar-bottom"></span>
      </div>
    <div class="overlay-navigation">
      <nav role="navigation">
           <ul>
          <li><a class="h3" href="{% url 'home' %}" data-content="The beginning">Home</a></li>
          <li><a class="h3" href="{% url 'events' %}" data-content="I got game">Events</a></li>
          <li><a class="h3" href="{% url 'sponsers' %}" data-content="Only the finest">Sponsors</a></li>
          <li><a class="h3" href="{% url 'team' %}" data-content="Don't hesitate">The Team</a></li>
          <li><a class="h3" href="#" data-content="Memories!">Gallery</a></li>
          {%if  user.is_authenticated %}
            <li><a class="h3" href="{% url 'dashboard' %}" data-content="Curious?">Dashboard</a></li>
             {% else %}
             <li><a class="h3" href="{% url 'registration' %}" data-content="Curious?">Register/Sign in</a></li>
            {% endif %}
        </ul>
      </nav>
    </div>
  <!-- Button trigger modal -->
   <div style="padding-top:50px; text-align: center">
<h4 style=" color:white; font-family:Arial; font-size:0.8em;">Important Note</h4>
	<p class="imp" style=" color:white; font-size:0.7em; font-family:Arial;">
		1)You can pay online after registering through instamojo,<br> for that just click on pay button in your dashboard<br>
		2)There will be nominal convenience fee of 2% + Rs 3 for each payment ie.gateway charges by instamojo<br>
		3)You can pay using Wallets, UPI, Debit and Credit cards, NEFT<br>
		4)Please do not hit refresh or back on payment pages<br>
		5)It will take a little time to update the payment in dashboard after the payment is done, meanwhile you'll get a email or sms confirmation from instamojo.
	</p>
   </div>
<!-- Modal -->
<div class="main">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <div id="box">
  <div id="main"></div>

  <div id="loginform">
      <form class="form-horizontal" method="POST" action="{% url 'login' %}" >
          {% csrf_token %}
    <h1>Login</h1>
    <input id="email" name ="email" type="email" placeholder="Email"/><br>
    <input id="loginpassword" name="loginpassword" type="password" placeholder="Password"/><br>
    <button>Login</button>
          <a href="{% url 'forgotpwd' %}" id="forgot">FORGOT PASSWORD?</a>

           </form>
  </div>



   <div id="signupform">

       <h1>Sign In</h1>
       <form class="form-horizontal" method="POST" action="{% url 'register' %}" onsubmit="return validated()">
           {% csrf_token %}
            <input type="text" id="username" name="username" placeholder="Full Name"/><br>
            <input type="email" id="emailid" name="email" placeholder="Email ID"/><br>
            <input type="password" id="password" name="password" placeholder="Password" /><br>
            <input type="password" id="cnfpassword" name="cnfpassword" placeholder="Confirm Password" /><br>
            <input type="mob" id="mobile" name="mobile" placeholder="Mobile Number" /><br>
            <button type="submit">Sign Up</button>
           <p style="color:red; font-size:15px;">Acuthon users need not register again.<br>Please use those credentials itself.</p>
       </form>
  </div>
  <br>
  
  <div id="login_msg">Have an account?</div>
  <div id="signup_msg">Don't have an account?</div>
  
  <button id="login_btn">LOGIN</button>
  <button id="signup_btn">SIGN UP</button>

  
  
</div>
      </div>

    </div>
  </div>
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js'></script>

<script>
   var url = '{{loggedin}}';
   console.log(url);
   if(url == 'False'){
    alert('Email or password incorrect..!')
   }
   var url2 = '{{registered}}';
   if(url2 == 'False'){
    alert('User Already Exists..!')
   }
</script>

    <script  src="{% static 'acusite/js/RegisterJs/index.js' %}"></script>
    <script  src="{% static 'acusite/js/HomeJs/index.js' %}"></script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.ui.min.js'></script>
<script type="text/javascript">
window.alert('Registrations will be open soon. Please check back later!')
$('input').prop('disabled', true);
$('button').prop('disabled', true);
function validated(){

     var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("cnfpassword").value;
        if (password != confirmPassword) {
            alert("Passwords do not match.");
            return false;
        }
        return true;

}

</script>


</body>

</html>
